<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          BIENVENIDO A LA SALA 2
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-lg-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Ventiladores</h5>
                  <h4 class="card-title">Estado</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Focos</h5>
                  <h4 class="card-title">Estado</h4>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
