<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          BIENVENIDO A LA SALA 2
        </div>
        <div class="card-body ">
          <div class="row">
            <div class="col-lg-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Ventiladores</h5>
                  <h4 class="card-title">Estado</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Focos</h5>
                  <h4 class="card-title">Estado</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Ponte en contacto con Nosotros: </span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/Deiber081" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/Deiber0811" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>PAS LORICA
            </h6>
            <p>
              Nuestro proyecto PAS está dirigido a promover el ahorro de energia de una manera
              eficiente y eficaz.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Aplicación web hecha con:
            </h6>
            <p>
              <a href="https://angular.io/cli" class="text-reset">Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Lorica - Córdoba Colombia</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              deiberlink@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +57 301 6313714</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +57 314 8538060</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +57 314 2132206</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +57 312 8981967</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">Semester classroom project</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>